page-login {
    .backgound-image {
         background-image: url('https://previews.123rf.com/images/roystudio/roystudio1508/roystudio150800605/44514857-%E3%83%97%E3%83%AC%E3%83%BC%E3%83%B3-%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%90%E3%82%B9-%E3%83%86%E3%82%AF%E3%82%B9%E3%83%81%E3%83%A3%E8%83%8C%E6%99%AF%E3%80%81a4.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        
      }
     
    .a{
      font-family: "Times New Roman", Times, serif;
      color: #fff
  }
  .b{
    color:#fff
}
.bu{
 color: rgb(0, 0, 0)
}
.pop{
color:rgba(253, 253, 253, 0.644);
}
.item {
background-color: rgba(90, 88, 88, 0.356);
margin-bottom: 1px;
.label {
width: 10%;
color: rgb(255, 255, 255);
font-size: 1.2em;
font-family: "Times New Roman", Times, serif;
}
.input{
  width: 10%;
  color: rgb(255, 255, 255);
  font-size: 1.2em;    
}

}
.button {
color: #fff !important;
text-transform: none !important;
font-size: 1.6rem !important;
font-weight: 600 !important;
opacity: 1 !important;
border: 0 !important;

}
.foot{
margin-top: 10%;
width: 150px;
}
.foot2{
margin-top: -10%;
}
.remember_me {
padding: 10px 0;
}
.ion-fab{
size: 50px
}
}


  

