<ion-header>

  <ion-navbar color="h">
    <ion-title class="a" text-left>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="backgound">

    
  <ion-list>
      <div text-center>
          <!-- <ion-item no-lines style="text-align: center"> -->
            <img height="250px" src="assets/imgs/Register1.png">
          <!-- </ion-item> -->
          </div>
          <ion-item>
            <ion-label fixed>Name</ion-label>
            <ion-input type="text" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Lastname</ion-label>
            <ion-input type="text" [(ngModel)]="lastname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Password</ion-label>
            <!-- <ion-input type="password" [(ngModel)]="password"></ion-input> -->
            <ion-input type="{{type}}"[(ngModel)]="password" ></ion-input>
            <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
            <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
          </ion-item>
          <ion-item>
            <ion-label fixed>Repeat</ion-label>
            <!-- <ion-input type="password" [(ngModel)]="password"></ion-input> -->
            <ion-input  type="{{types}}" [(ngModel)]="repass" ></ion-input>
            <button *ngIf="!showPasss" ion-button clear color="dark" type="button" item-right (click)="showPasswords()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
            <button *ngIf="showPasss" ion-button clear color="dark" type="button" item-right (click)="showPasswords()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
          </ion-item>


        
  </ion-list>
<div >
    <button  (click)="submit()" ion-button full round class="a" color="h">SUBMIT</button>
</div>
</ion-content>
<footer>
    <ion-icon ios="ios-home" md="md-home"></ion-icon>
  </footer>