page-list {
    .backgound-image {
        background-image: url('https://img.freepik.com/free-vector/dark-blue-watercolor-background-design_1034-737.jpg?size=338&ext=jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .a{
        font-family: "Times New Roman", Times, serif;
       
    }
}
